:root {
  --base-margin: 2rem;
  --base-padding: 2rem;
  --base-font-size: 2rem;
}

#lwt {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#lwt h1,
#lwt h5 {
  text-align: center;
}

#lwt .row {
  padding-left: calc(var(--base-padding) + 5rem);
  padding-right: calc(var(--base-padding) + 5rem);
  display: none;
  margin: 0 auto;
}

#lwt .row [class*='col'] {
  text-align: center;
  padding-top: calc(var(--base-padding));
  padding-bottom: calc(var(--base-padding));
  font-size: calc(var(--base-font-size) + 2.5rem);
  color: #cfd0d2;
}

#lwt .row [class*='col']:nth-child(3n) {
  color: #0f141e;
}

@media only screen and (min-width: 768px) {
  #lwt {
    padding: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  #lwt h1 {
    display: none;
  }
  #lwt .row {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  #lwt .row {
    max-width: 992px;
  }
}

@media only screen and (min-width: 1280px) {
  #lwt {
    padding: 4rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media only screen and (min-width: 1480px) {
  #lwt {
    padding-top: 7rem;
    padding-bottom: 7rem;
    max-width: 1480px;
    margin: 0 auto;
  }
}
