html {
  font-family: sans-serif;
}

html,
body {
  /* min-height: 100vh; */
  /* max-height: 100vh; */
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Helvetica Now Display', sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
}

body > .wrapper {
  min-width: 320px;
}

h1,
h2,
h3,
h4
/* h5 */ {
  font-family: 'Helvetica Now Display', sans-serif;
  color: #0f141e;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

h4 {
  font-size: 1.15rem;
}

p,
span,
h5{
  /* font-family: 'Nunito', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  color: #878a8f;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.17rem;
}

h5 {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: 350;
  font-size: 1rem;
}

.fab-scroll-top {
  z-index: 5;
  opacity: 0;
  display: none;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  color: white;
  background-color: #878a8f;
  font-size: 1rem;
  padding: 1rem;
  width: 3rem;
  height: 3rem;
  display: block;
  border-radius: 50%;
  /* display: flex; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.2s ease;
}

.fab-scroll-top:hover {
  background-color: #0f141e;
}

.light {
  color: white;
}

a {
  position: relative;
}

a::after {
  content: '';
  width: 0px;
  height: 2px;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 200ms;
  opacity: 0;
}

:is(#intro) a::after {
  background: #0f141e;
}

:is(#footer) a::after {
  background: #878a8f;
}

a:hover::after {
  width: 100%;
  opacity: 1;
}

@media only screen and (max-width: 330px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    font-size: 2.5rem;
  }

  h1,
  h2,
  h3,
  h4
  /* h5 */ {
    line-height: 1.1;
  }

  h4 {
    font-size: 1.15rem;
  }

  p,
  span,
  h5 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1rem;
  }

  .fab-scroll-top {
    right: 2rem;
    bottom: 2rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1280px) {
  body {
    font-size: 3rem;
  }

  h1,
  h2,
  h3,
  h4
  /* h5 */ {
    line-height: 1.1;
  }

  h4 {
    font-size: 1.15rem;
  }

  p,
  span,
  h5 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1rem;
  }

  .fab-scroll-top {
    right: 3rem;
    bottom: 3rem;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.textbox, .textbox:focus{
  outline: none;
  border: 0.5px solid rgba(0, 0, 0, 0.61);
  padding: 1rem 1.5rem;
}

.textbox:focus{
  font-size: 1.17rem;
  color: #0f141e;
}

.textbox{
  width: 100%;
  padding: 0.5rem 1rem;
  border: 0.5px solid rgba(0, 0, 0, 0.123);
  border-radius: 5px;
  transition: ease-in-out 0.3s;
  font-family: 'Open Sans', sans-serif;
  color: #878a8f;
  font-size: 1rem;
}